<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JSSDK样例</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/ui/bootstrap/css/bootstrap.min.css">
    <link href="/ui/layui/css/layui.css" rel="stylesheet">
    <style>
        button{
            cursor: pointer;
        }
        .row_div{
            margin-top: 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .row_div div{
            line-height: 38px;
            text-align: right;
        }
        #shareDiv{
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: #0a0a0a;
            opacity: 0.8;
            font-size: 3em;
            display: none;
        }
        #sahreDiv span{
            width: 85%;
        }

        /* 图像部分 */
        .div-photo{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding-bottom: 0.3rem;
            border-bottom: 1px solid #b9b9ae;
        }
        .photo div{
            top: 0.1rem;
            right: 0.1rem;
            background: #777;
            opacity: 0.8;
            cursor: pointer;
            position: absolute;
            z-index: 2;
        }
        .photo div i{
            color: #FFF;
            font-size: 1.8rem;
        }
        .pdiv{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 31.33%;
            background-color: #F0F;
            /*display: flex;*/
        }
        /*发照片按钮*/
        .addphoto{
            background: #F2F2F2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            color: #b9b9ae;
            cursor: pointer;
        }
        .addphoto img {
            width: 30%;
        }
    </style>
</head>
<body>
    <div class="row_div">
        <div class="number">1、</div>
        <button id="scan" class="btn btn-success">点击扫描二维码</button>
    </div>
    <div class="row_div">
        <div class="number">2、</div>
        <button id="share" class="btn btn-success">点击分享到朋友圈</button>
    </div>
    <div class="row_div">
        <div class="number">3、</div>
        <button id="position" class="btn btn-success">获取用户地理位置</button>
    </div>
    <div class="row_div">
        <div class="number">4、</div>
        <button id="voice" class="btn btn-success">点我开始录音</button>
    </div>

    <div class="div-photo" style="position: relative;">
        <div class="pdiv addphoto" style="height: 91px; margin-right: 6px; margin-left: 3px;">
            <img src="/ui/front-ui/images/basic/carema200.png">
            <span>照片</span>
        </div>
    </div>

    <div id="shareDiv">
        <span>点击右上角分享</span>
    </div>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="/ui/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/ui/layui/layui.all.js"></script>
    <script>
        
        wx.config({
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '{$config["appid"]}', // 必填，公众号的唯一标识
            timestamp: {$config['timestamp']}, // 必填，生成签名的时间戳
            nonceStr: '{$config['noncestr']}', // 必填，生成签名的随机串
            signature: '{$config['signature']}',// 必填，签名
            jsApiList: [
                'scanQRCode',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareQZone',
                'getLocation',
                'chooseImage',
                'getLocalImgData',
                'startRecord',
                'stopRecord',
                'playVoice'

            ] // 必填，需要使用的JS接口列表
        });

        wx.ready(function () {
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。

            wx.onMenuShareAppMessage({
                title: '发送给朋友', // 分享标题
                desc: '卖命的share', // 分享描述
                link: 'http://small.zhangxianjian.com/windows/Admin/login', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'https://mmbiz.qpic.cn/mmbiz_gif/a5Us7rpWGGqvn9HY2OoTC61CX0VzUreibuDkrEvrAibDPiczQFbvhibPnGTavXbwNXtecvicyHRm85J3KKSSsskGpfA/0?wx_fmt=gif', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    layer.msg('发送给朋友成功!');
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                    layer.msg('用户取消了发送给朋友!');
                }
            });

            wx.onMenuShareTimeline({
                title: '分享到朋友圈', // 分享标题
                link: 'http://small.zhangxianjian.com', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'https://mmbiz.qpic.cn/mmbiz_gif/a5Us7rpWGGqvn9HY2OoTC61CX0VzUreibuDkrEvrAibDPiczQFbvhibPnGTavXbwNXtecvicyHRm85J3KKSSsskGpfA/0?wx_fmt=gif', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    layer.msg('分享到朋友圈成功!');
                    // alert('分享到朋友圈成功');
                },
                cancel: function () {
                    layer.msg('取消分享到朋友圈!');
                    // alert('取消分享到朋友圈');
                }
            })

            wx.onMenuShareQQ({
                title: '分享到QQ', // 分享标题
                desc: '分享到QQ案例', // 分享描述
                link: 'http://small.zhangxianjian.com/windows/admin/login', // 分享链接
                imgUrl: 'https://mmbiz.qpic.cn/mmbiz_gif/a5Us7rpWGGqvn9HY2OoTC61CX0VzUreibuDkrEvrAibDPiczQFbvhibPnGTavXbwNXtecvicyHRm85J3KKSSsskGpfA/0?wx_fmt=gif', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    layer.msg('分享到QQ好友成功！');
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                    layer.msg('用户取消分享到QQ');
                }
            });

            wx.onMenuShareQZone({
                title: '分享到QQ空间', // 分享标题
                desc: '分享到QQ空间案例', // 分享描述
                link: 'http://small.zhangxianjian.com/windows/admin/login', // 分享链接
                imgUrl: 'https://mmbiz.qpic.cn/mmbiz_gif/a5Us7rpWGGqvn9HY2OoTC61CX0VzUreibuDkrEvrAibDPiczQFbvhibPnGTavXbwNXtecvicyHRm85J3KKSSsskGpfA/0?wx_fmt=gif', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    layer.msg('分享到QQ空间成功！');
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                    layer.msg('用户取消分享到QQ空间');
                }
            });
        });
        
        $('#scan').click(function(){
            wx.scanQRCode({
                needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    // alert(result);
                    //  window.location.href=result;
                }
            });
        })

        $('#position').click(function(){
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    var speed = res.speed; // 速度，以米/每秒计
                    var accuracy = res.accuracy; // 位置精度

                    $.ajax({
                        url: '/index/index/getPosition.html',
                        type: 'get',
                        dataType: 'json',
                        data: {
                            lat: latitude,
                            long: longitude
                        },
                        success: function(data) {
                            if (data.status == 'OK') {
                                layer.msg(data.result.formatted_address);
                            } else {
                                layer.msg('经度:'+longitude+', 纬度:'+latitude);
                            }
                        }
                    })
                }
            });

        })

        
        $('#share').click(function(){
            $('#shareDiv').css({ "display": 'flex', 'opacity': '0.8' });
        })

        $('#shareDiv').click(function(){
            $(this).hide(400);
        })

        /* photo */
        $(function () {
            var imgWidth = $('.pdiv:eq(0)').width();
            $('.pdiv').css('height', imgWidth + 'px');

            var spaceWidth = parseInt(($('.div-photo').width() - 3 * imgWidth) / 3);

            //上边距
            $('.pdiv:gt(2)').css('marginTop', spaceWidth + 'px');
            // 左右边距
            $('.pdiv').each(function () {
                var index = parseInt($(this).index('.pdiv')) % 3;
                if (index < 2) {
                    $(this).css('marginRight', spaceWidth + 'px');
                }
                if (index < 1) {
                    $(this).css('marginLeft', 0.5 * spaceWidth + 'px');
                }
            })

        })

        function setMargin() {
            var imgWidth = $('.pdiv:eq(0)').width();
            $('.pdiv').css('height', imgWidth + 'px');

            var spaceWidth = parseInt(($('.div-photo').width() - 3 * imgWidth) / 3);

            /*检查当前照片个数*/
            var size = parseInt($('.photo').size());
            if (size >= 9) {
                $('.addphoto').css('display', 'none');
                size--;
            }


            $('.pdiv').css('position', 'absolute');
            $('.pdiv').each(function () {
                var index = parseInt($(this).index('.pdiv'));
                if (index > 8) {
                    return;
                }

                var top = (spaceWidth + imgWidth) * parseInt(index / 3);
                var left = ((index % 3) * imgWidth) + ((index % 3) + 0.5) * spaceWidth;
                $(this).css({ top: top + 'px', left: left + 'px' });
            })

            $('.div-photo').css('height', '' + (parseInt(size / 3) + 1) * (imgWidth + spaceWidth) + 'px');
        }

        var u = navigator.userAgent;
        isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
        
        $('.addphoto').click(function () {
            wx.chooseImage({

                count: 9, // 默认9

                sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有

                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有

                success: function (res) {

                    var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片

                    var num = parseInt($('.pdiv').size()) - 1;

                    var len = 0;
                    //				        var i = ;
                    var ci = 0;
                    var carr = [];
                    $.each(localIds, function (index, item) {
                        //							alert(item+'----');
                        len++;
                        if (num + len >= 10) {
                            $('.addphoto').css('display', 'none');
                            return;
                        }
                        carr[carr.length] = item;

                        if (isAndroid) {
                            $('.addphoto').before('<div class="pdiv photo" src="' + item + '" style="background-image:url(' + item + ');"><div><i class="mui-icon mui-icon-closeempty i-del"></i></div><img style="width: 100%;height: 100%;opacity: 0;" class="mui-media-object" src="' + item + '" data-preview-src="" data-preview-group="1"></div>');
                        } else {
                            wx.getLocalImgData({

                                localId: item, // 图片的localID

                                success: function (data) {
                                    //										alert(carr[ci]);
                                    var localData = data.localData; // localData是图片的base64数据，可以用img标签显示
                                    $('.addphoto').before('<div class="pdiv photo" src="' + carr[ci] + '" style="background-image:url(' + localData + ');"><div><i class="mui-icon mui-icon-closeempty i-del"></i></div><img style="width: 100%;height: 100%;opacity: 0;" class="mui-media-object" src="' + localData + '" data-preview-src="" data-preview-group="1"></div>');
                                    ci = ci + 1;
                                    setMargin();
                                }

                            });
                        }
                    });

                    setMargin();
                }

            });
        })

        /* 录音 */
        $('#voick').click(function(){
            wx.startRecord();

            停止录音接口
            setTimeout(function(){
                wx.stopRecord({
                    success: function (res) {
                        var localId = res.localId;
                        wx.playVoice({
                            localId: localId // 需要播放的音频的本地ID，由stopRecord接口获得
                        });
                    }
                })
            }, 3000);
        })
    </script>
</body>
</html>