<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>rebbitCms</title>
    <link href="/ui/layui/css/layui.css" rel="stylesheet">
 </head>
<body class="layui-layout-body">
<div class="layui-main"  style="width: 95%;">
	<div class="layui-row">
		<div class="layui-row" style="padding-top: 3em;"></div>
		<div class="layui-row">
			<div class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">公众号名称</label>
					<div class="layui-input-block">
						<input type="text" name="name" required  lay-verify="required" placeholder="公众号名称" autocomplete="off" class="layui-input">
					</div>
				</div> 
				<div class="layui-form-item">
					<label class="layui-form-label">原始ID</label>
					<div class="layui-input-block">
						<input type="text" name="original" placeholder="原始ID" autocomplete="off" class="layui-input">
					</div>
				</div> 
				<div class="layui-form-item">
					<label class="layui-form-label">AppId</label>
					<div class="layui-input-block">
						<input type="text" name="appid" required  lay-verify="required" placeholder="AppId" autocomplete="off" class="layui-input">
					</div>
				</div> 
				<div class="layui-form-item">
					<label class="layui-form-label">AppSecret</label>
					<div class="layui-input-block">
						<input type="text" name="appsecret" required  lay-verify="required" placeholder="AppSecret" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">token</label>
					<div class="layui-input-inline" style="width: 60%;">
						<input type="text" name="token" required  lay-verify="required" id="token" placeholder="token" autocomplete="off"  class="layui-input">
					</div>
					<div class="layui-input-inline"><span class="layui-btn layui-btn-primary" id="tokenGen">重新生成</span></div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">encodingkey</label>
					<div class="layui-input-inline" style="width: 60%;">
						<input type="text" name="encodingaeskey" required  lay-verify="required" id="encodingaeskey" placeholder="encodingaeskey" autocomplete="off"  class="layui-input">
					</div>
					<div class="layui-input-inline"><span class="layui-btn layui-btn-primary" id="encodingaeskeyGen">重新生成</span></div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">公众号类型</label>
					<div class="layui-input-block">
					  <select name="account_type" lay-verify="required">
					    <option value="1">普通订阅号</option>
					    <option value="2">认证订阅号</option>
					    <option value="3">普通服务号</option>
					    <option value="4">认证服务号</option>
					  </select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">描述</label>
					<div class="layui-input-block">
						<textarea placeholder="描述" name="description" style="resize: none;" class="layui-textarea"></textarea>
					</div>
				</div> 
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
						<span class="layui-btn layui-btn-primary layui-back">取消</span>
						<!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

</body>
<script type="text/javascript" src="/ui/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/ui/layui/layui.all.js"></script>
<script type="text/javascript" src="/ui/layer.controller.js"></script>
<script type="text/javascript" src="/page/Account/public.js"></script>
<script type="text/javascript" src="/page/Account/add.js"></script>

</html>
