<!DOCTYPE html>
<html lang="zh-cn">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>素材管理</title>
        <link rel="stylesheet" href="/ui/bootstrap/css/bootstrap.min.css">
        <link href="/ui/layui/css/layui.css" rel="stylesheet">
        <link href="/page/Material/index.css" rel="stylesheet">
    </head>
    
    <body class="layui-layout-body" id="body">
        <script type="text/javascript" src="/ui/jquery-2.2.4.min.js"></script>
        <div class="layui-main" style="width: 100%;">
            <div class="layui-row" id="account-list">
                <!-- <div class="layui-row"></div> -->
                <div class="layui-row">
                    <ul class="layui-nav layui-bg-green">
                        <li class="layui-nav-item layui-this">
                            <a href="javascript:void(0);" class="materail_a">图片</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:void(0);" class="materail_a">图文消息</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:void(0);" class="materail_a">音频</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:void(0);" class="materail_a">视频</a>
                        </li>
                        <span class="layui-nav-bar" style="left: 314px; top: 55px; width: 0px; opacity: 0;"></span>
                    </ul>
                    
                    <div class="row" id="material_content"></div>
                </div>
                <div class="layui-row" style="padding-top: 1em;"></div>
            </div>
        </div>
    </body>
    <style>
        .layui-main .layui-nav-item a {
            color: #333;
        }
        
        .layui-nav .layui-nav-item a:hover {
            color: #6cc143;
        }
        </style>
<script type="text/javascript" src="/ui/layui/layui.all.js"></script>
<script type="text/javascript" src="/page/Material/index.js"></script>
<script type="text/javascript" src="/ui/bootstrap/js/bootstrap.min.js"></script>
<script></script>

</html>